canvas {
  position: fixed;
  top: 0;
  left: 0;
}

body {
  position:absolute;
  height: 5000px;
}
/* 
main {
  position: absolute;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

header{
  margin-top: 80px;
}

header * {
  display: flex;
  font-size: 50px;
  font-family: auto;
  margin-bottom: 30px;
}

header img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border: solid 8px rgb(133, 36, 12);
  border-radius: 50%;
}

#projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 30px;

}

.myProjects { 
  margin: 10px;
  position: relative;
  height: fit-content;
  border: solid -10px transparent;
  border-radius: 10%;
}

section article:hover {
  box-shadow: 20px 20px 20px rgb(97, 97, 97);
  zoom: 1.05;
}

#projects img {
  border: 10px solid rgb(133, 36, 12);
  border-radius: 10%; 
  object-fit: cover;
  width:300px;
  height:40vh;
}

#firstProject figure, #firstProject img {
  height: 340px;
  width: 340px;
  object-fit: cover; 
  border-radius:10%; 
}

figcaption {
  font-size: 160%;
  position: absolute; 
  top: 10px; 
  background-color: rgba(252, 249, 249, 0.5); 
  color: black;
  font-weight: bold;
  border-radius: 5%;
  margin-left: 10px;
  width: fit-content;
}

#About_Me {
  font-size: 160%;
  font-weight: bold;
  margin-left: 15vh;
  border-bottom: solid black 2px;
}

#about h1 {
  margin:  10px 15vh 10px 15vh;
  font-size: 120%;
}

#contact * {
  text-align: center;
}

#contact h1 {
  border: solid white 4px;
  border-radius: 50%;
  padding:10px;
  width: fit-content;
  margin: 10px auto;
} */